// tac-on sytlings 
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.zero-pad {
    padding: 0px
}
.shadow-std {
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
}

.scrolly {
    overflow-y: scroll;
}
.clickable:hover {
    cursor: pointer;
}
.user-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $workspace-purple;
    border: 1px solid rgb(165, 93, 247);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 25px;
    vertical-align: middle;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.user-circle-photo {
   object-fit: contain; 
}
.empty-user-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px dashed $light-gray;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 25px;
    vertical-align: middle;
    font-weight: 300;
    position: relative;

}
.empty-user-circle img {
    width: 30px;
    position: absolute;
    top: -11px;
    left: -3px;
}

.color-bullet {
    height:8px;
    width: 8px;
    border-radius: 2.5px;
    background-color: $workspace-green;
    margin-right: 14px;
}

.divider {
    border-bottom: 1px solid $lightest-gray;
}

.divider:last-child {
    border-bottom: none;
}

.pushup-15 {
    margin-top: 15px;
}
.pushright-10 {
    margin-right: 10px;
}

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.green-date {
    color: rgb(15, 195, 163);
    font-size: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 300;
    line-height: 17px;
}


img.cal-icon {
    width: 27px;
    top: -8px;
    left: -2px;

}

img.paragraph-icon {
    margin-top: -5px;
}

img.clipboard-icon {
    width: 26px;
    top: -8px;
    left: -2px;

}

.checkbox-green {
    border-color: $workspace-green;
    color: $workspace-green;
}

.nonclick {
    cursor: default;
}

.relParent {
    position: relative;
}