$text-gray: #646F79;
$nav-text-gray:#d5dce0;
$light-gray: #B7BFC6;
$lightest-gray: rgb(239, 240, 241);
$hover-gray: rgb(246, 248, 249);
$navy: rgb(45, 60, 83);
$dark-navy: #1e2736;
$nav-navy: #151b26;
$nav-highlight: rgb(44, 50, 59);
$nav-hover: rgb(58, 64, 72);

// core color palette
$dark-purple: rgb(99, 90, 199);
$core-purple: rgb(121, 110, 255);
$bright-purple: rgb(161, 119, 255);


$core-green: rgb(59, 232, 176);
$bright-green: rgb(59, 247, 209);

$core-teal: #14aaf5;
$bright-teal: rgb(2, 206, 255);

$core-gold: #fcbd01;
$bright-gold: rgb(255, 210, 0);


$core-coral: rgb(252, 99, 107);
$bright-coral: rgb(255, 109, 146);

// other workspace colors
$workspace-red: #ed4758;
$workspace-orange: #fd9a00;
$workspace-green: #62d26f;
$workspace-light-blue: #edf8ff;
$workspace-purple: #aa62e3;