$main-font: 'Josefin Sans', 'Muli', sans-serif;
// $main-font-bold: 'gorditamedium', sans-serif;
$text-font: 'Quicksand', sans-serif;

$logo-font: 'gorditamedium', 'Josefin Sans', 'Muli', 'Questrial', sans-serif;