$main-font: 'Roboto', 'Muli', sans-serif;
$home-font: 'Quicksand', sans-serif;
// $main-font-bold: 'gorditamedium', sans-serif;
$text-font: 'Roboto', 'Quicksand', sans-serif;

// $logo-font: 'Josefin Sans', 'Muli', 'Questrial', sans-serif;
$logo-font: 'Questrial', 'Muli', 'Questrial', sans-serif;