.home-main-section { // refactor as below
    padding: 128px 0 96px 0
}; 

// refactored
// mobile first appraoch
.home-container {
    position: relative;
    top: 56px;
    margin: 0 10px;

    &__section {
        padding: 128px 0 96px 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;


        &__header {
            font-size: calc(33.75px + (11.25 * ((100vw - 480px) / 800)));
            line-height: 1.244;
            margin-bottom: 32px;
        }

        &__subheader {

        }

        &__blob-text {
            color: $text-gray;
            font-size: 1.2rem;
            margin-bottom: 32px;
        }

    }

}

.home-visuals {
    width: 100vw;
}

.carousel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: $lightest-gray;
    // padding: 5vh 0;

    &__block {
        width: 80vw;
        margin-top: 5vh;
        text-align: center;
        &__header {
            font-size: 1.5rem;
            color: $dark-navy;
            margin-top: 5vh;
            
        }
        &__text {
            font-size: 1.2rem;
            color: $text-gray;
            margin-top: 5px;
        }
    }
}
.carousel-content-wrap {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.main-video {
    width: 100%;
}
.video-buff {
    
    margin: 5vh auto;
}



//============ media queries=================//
@media screen and (min-width: 768px) {
    .home-container__section {
        margin-left: 8%;
        margin-right: 8%;
    }

    .carousel {
    
        &__block {
            width: 60vw;
        }
    }

}
  
@media screen and (min-width: 1120px) {
    .home-container__section {
        margin-left: 16.67%;
        margin-right: 16.67%;
    }    

}
