.setup-grid-container {
    display: grid;
    grid-template-columns: 244px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
}

.setup-grid-item-sidebar {
    grid-area: sidebar;
    justify-item: stretch;
}

.setup-grid-item-main {
    grid-area: main;
    justify-self: stretch;
}


.empty-nav-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 60vh;
    padding: 20px 12px;
}



.empty-nav {
    min-height: 15px;
    background-color: $nav-highlight;
    &--long {
        width: 70%;
        border-radius: 15px;
    }
    &--medium {
        width: 50%;
        border-radius: 15px;
    }

    &--short{
        width: 30%;
        border-radius: 15px;
    }

    &--circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.empty-circles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}