// this keeps the workspace home at minimum 680px width at all time


.workspace-home-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px;
    height: calc(100vh - 70px);
    position: relative;
    overflow-y: scroll;
}

.home-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    

    &__title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 14px; 
    }
}

//==========project section=============//
.workspace-home-project-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items:  flex-start;
    min-width: 616px;
    border-top: 2px solid $lightest-gray;
}

.hover-effect-container {
    height: 221px;
    width: 150px;
    padding: 15px 0;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 8px;

}

.hover-effect-container:hover {
    background-color: $hover-gray;
    transition: background-color 0.2s ease-in;
}
.hover-effect-container:hover .project-item-square__mininav {
    color: $lightest-gray;
    transition: color 0.2s ease-in;
}
.hover-effect-container:hover .project-item-square img {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

//---------------------------
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.hover-effect-container:hover .project-item-square__center__profile-circle {
    display: block;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}
//----------------------------------

.hover-effect-container:hover .proj-add {
    border: 2px dashed $text-gray;
    transition: border-color 0.3s ease-in;
}
.hover-effect-container:hover .proj-add__icon {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.mininav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.mininav-container img {
    width: 20px;
    height: 20px;
    opacity: 0;
}

.project-item-square {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    box-shadow: inset 0 -2px rgba(0,0,0,.05);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    

    &--proj {
        //temporary until building dynamic coloring
        background-color: $workspace-orange;
    }

    &__mininav {
        margin-top: 5px;
        color: transparent;
        font-size: 1.5rem;
        line-height: 15px;
        padding-right: 5px;
    }
    
    &__center {
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        &__icon {
            margin: auto;
            margin-bottom: 5px;

        }
        &__profile-circle {
            display: none;
            
        }
    }
}
.proj-add {
    border: 2px dashed rgb(156, 166, 175);
    box-shadow: none;
    background-color: white;
    justify-content: center;
    &__icon {
        margin-bottom: 26px;
        opacity: 0.7;
    }
}
//testing it out
.project-item-square__center__icon img {
    width: 50px;
    color: white;
}
.project-item-label {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 10px;
}

//====================tasks section===================//
.workspace-home-task-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:  flex-start;
    margin: 0 auto;
    border: 2px solid $lightest-gray;
    border-radius: 8px;
    min-width: 616px;
    
    
}

.task-row {
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    // transition: box-shadow 100ms ease-in-out;
    // transition-property: box-shadow;
    // transition-duration: 100ms;
    // transition-timing-function: ease-in-out;
    // transition-delay: 0s;

    &__main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        flex: 1 1000 auto;
        &__text {
            font-size: 0.9rem;
            margin-left: 5px;
            font-weight: 300;
        }

    }
    &__aside {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        flex: 0 1 auto;
    }
}
.task-row:hover {
    background-color: $hover-gray;
    transition: background-color 0.2s ease-in;
}


.pill-link-container {
    flex: 0 1 auto;
    display: flex;
    min-width: 1px;
    overflow: hidden;
    margin-left: 5px;

}
.pill-link {
    flex: 0 1 auto;
    max-width: 75px;
    min-width: 1px;
    color: white;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 2px;
    padding-top: 2px;
    //temp color
    background-color: $workspace-green;
}

.task-due-text {
    color: rgb(15, 195, 163);
    font-size: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 400;
    //adjust line-height when pill-link height changes
    line-height: 17px;
}
//===========media query===========//
@media (min-width: 1213px) {
    .workspace-home-task-list {
        min-width: 796px;
    }

    .workspace-home-project-list {
        min-width: 796px;
    }
}
