.workspace-grid-container {
    display: grid;
    grid-template-columns: 244px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "sidebar headernav"
        "sidebar main";
}

.workspace-grid-item-sidebar {
    grid-area: sidebar;
    justify-self: stretch;
    
}

.workspace-grid-item-main {
    grid-area: main;
    justify-self: stretch;
}

//for header nav
.workspace-grid-item-header {
    grid-area: headernav;
    justify-self: stretch;
}

//for side nav
.workspace-side-nav-container {
    background-color: $nav-navy;
    min-height: 100vh;
    height: 100%;
    // padding: 10px;
    color: $nav-text-gray;
}
.nav-subcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 60vh;
    padding: 20px 0;
}