.workspace-header {
    background-color:  white;
    box-sizing: border-box;
    width: calc(100vw-244px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right:20px;
    height: 100%;

    
    &__title {
        font-size: 1.3rem;
        font-weight: 400;

    }

    &__btn-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    &__btn {

    }
}



